<table border="1">
    <thead>
        <tr>
            <th> No. </th>
            <th> Fila </th>
            <th> Columna </th>
            <th> Token </th>
            <th> Lexema </th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>